streamlit

langchain
langchain-core
langchain-text-splitters

langchain-huggingface
langchain-chroma

chromadb

huggingface-hub
transformers
sentence-transformers

youtube-transcript-api

python-dotenv
numpy
scikit-learn

protobuf==4.25.3
