streamlit

langchain
langchain-core
langchain-huggingface
langchain-chroma

chromadb

huggingface-hub
transformers
sentence-transformers

youtube-transcript-api

python-dotenv
langchain-text-splitters

numpy
scikit-learn
